@font-face {
  font-family: "TBC-font-1";
  src: url("./fonts/file.woff2") format("woff2");
}
@font-face {
  font-family: "TBC-font-2";
  src: url("./fonts/file_1.woff2") format("woff2");
}
@font-face {
  font-family: "TBC-font-3";
  src: url("./fonts/file_2.woff2") format("woff2");
}
@font-face {
  font-family: "TBC-font-4";
  src: url("./fonts/file_3.woff2") format("woff2");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  color: #f4f4f4;
}
/* ---------Header---------- */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 85px;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #1a1e1f;
  font-family: "TBC-font-2";
  font-size: 14.5px;
  padding: 0px 100px 0px 70px;
  transition: opacity 0.3s ease-in-out;
}
.headerScroll {
  background-color: #212121;
  opacity: 0.95;
}
header img {
  width: 182px;
}
.desktopNav {
  display: flex;
  gap: 46px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
nav a:hover {
  color: #00a3e0;
}

.activePage {
  color: #00a3e0;
}

.burgerbox {
  display: none;
  cursor: pointer;
  z-index: 6 !important;
}
.meny {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 40px;
  padding: 120px 20px;
  background: #2b2b2b;
  width: 63%;
  height: 100%;
  font-family: "TBC-font-1";
  font-size: 18px;
  position: fixed;
  right: 0;
  transform: translateX(50rem);
  top: 0;
  z-index: 10;
  transition: 0.5s;
}
#menyAvPaa {
  display: none;
}
#menyAvPaa:checked ~ .meny {
  transform: translateX(0rem);
}
.burger {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  width: 2rem;
  height: 24px;
  right: 50%;
  top: 23px;
  z-index: 11;
}
.burger > div {
  height: 4px;
  background-color: #dbdbdb;
  transition: 0.5s;
  z-index: 11;
  border-radius: 2px;
}
.burger > div:nth-child(1) {
  width: 15px;
}
.burger > div:nth-child(3) {
  margin-left: 17px;
  width: 15px;
}
#menyAvPaa:checked ~ .burger {
  height: 2rem;
  width: 2rem;
}
#menyAvPaa:checked ~ .burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ .burger > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
  width: 2rem;
}
#menyAvPaa:checked ~ .burger > div:nth-child(2) {
  opacity: 0;
}
#menyAvPaa:checked ~ .burger > div:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
  width: 2rem;
  margin-left: 0px;
}

/* ---------Main container---------- */
main {
  animation-name: fade;
  animation-duration: 1s;
}
.main-container {
  display: flex;
  justify-content: center;
  height: 352px;
  background-image: url("./img/ContainerBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin: 0px 0px 20px 0px;
}
.main-container p,
.main-container h1 {
  font-family: "TBC-font-3";
  font-size: 42px;
}
.main-container p {
  font-size: 33px;
}
.boxsize {
  width: 1000px;
}

/* ---------Description container---------- */
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 465px;
  background-color: #2b2b2b;
  font-size: 28px;
  font-family: "TBC-font-2";
  line-height: 45px;
}

.description-container p {
  margin-bottom: 35px;
}
.greybtn {
  font-family: "TBC-font-4";
  font-size: 20px;
  color: #00a3e0;
  text-decoration: none;
  transition: ease 0.3s;
}
.greybtn:hover {
  color: #8b8b8b;
}
.description-container a {
  font-size: 20px;
  color: #00a3e0;
  text-decoration: none;
  transition: ease 0.3s;
  font-family: "TBC-font-4";
}

/* ---------Courses container---------- */
.courses-container {
  display: flex;
  justify-content: center;
  background-color: #161616;
  font-family: "TBC-font-2";
}
.courses-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 22px;
  margin-bottom: 60px;
}
.courses-container div:nth-child(1) h1 {
  margin: 35px 0 65px 0;
  font-size: 24px;
  font-weight: lighter;
  color: #dbdbdb;
}
.course-item {
  width: 300px;
  height: 420px;
  border-radius: 7px;
  border: 1px solid #555555;
  position: relative;
}
.course-item h2 {
  font-size: 18px;
  margin-bottom: 27px;
  font-weight: lighter;
}
.course-item p {
  font-size: 14px;
}
.course-item a {
  font-family: "TBC-font-1";
  text-decoration: none;
  color: #00a3e0;
  transition: 0.3s;
}
.course-item div:nth-child(2) {
  padding: 30px 20px 0 20px;
}
.course-item div:nth-child(3) {
  display: flex;
  gap: 12px;
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.course-img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* ---------Partners container---------- */
.partners-container {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #2b2b2b;
}
.partners-container h1 {
  font-family: "TBC-font-2";
  font-weight: lighter;
  margin: 40px 0 0 0;
}
.slider {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 280px;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  animation: 3s fade ease-out;
}
.slide:nth-child(3) {
  margin: auto;
}
.btnDesign {
  position: absolute;
  text-align: center;
  top: 55%;
  width: 200px;
}
.btnDesign img {
  transition: 0.3s;
}
.course-item a:hover,
.btnDesign img:hover,
.footerflex a:hover {
  opacity: 0.65;
  cursor: pointer;
}
.nextBtn {
  left: 0;
}
.prevBtn {
  transform: scaleX(-1);
  right: 0px;
}

.dotbuttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 23px;
  cursor: default;
  width: 60px;
  position: absolute;
  bottom: 50px;
  right: 50%;
}
.dotbuttons span {
  cursor: pointer;
  color: #e8e6e6;
  opacity: 0.8;
  transition: 0.5s;
}

/* ---------Questions container---------- */
.askedquestions-container {
  display: flex;
  justify-content: center;
  background-color: #161616;
  font-family: "TBC-font-2";
}
.askedquestions-container div:nth-child(1) h1 {
  font-weight: lighter;
}
.askedquestions-container img {
  width: 5px;
}
.questionFlex {
  width: 900px;
  margin-bottom: 70px;
}
.questionCaption {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 15px 0;
}
.questionCaption a {
  font-family: "TBC-font-4";
  color: #00a3e0;
  text-decoration: none;
  font-size: 20px;
}
.question-item {
  height: fit-content;
  padding: 30px 0 30px 0;
  border-bottom: #353131 solid 1px;
}
.question-item div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 15px 0px 0px;
  cursor: pointer;
  transform: translateY(-5px);
  animation: typing 0.3s, 0.1s slideIn ease-in-out forwards 0.1s;
}
.question-item h1 {
  font-size: 18px;
}
.question1.question-item:nth-child(1) p {
  font-size: 14px;
  margin: 35px 0 0 0;
  line-height: 25px;
}
.question1 ul {
  margin-top: 40px;
}
.question1 ul li {
  font-size: 14px;
  font-family: "TBC-font-2";
  margin: 15px;
  list-style: none;
  line-height: 25px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-5px);
  animation: 0.1s slideIn ease-in-out forwards 0.1s, typing 0.1s;
}
.question1 ul li span {
  font-family: "TBC-font-3";
}
.question2,
.question3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 400ms height ease-in-out;
}
.question2 span,
.question3 span {
  font-size: 14px;
  font-family: "TBC-font-2";
  transform: translateY(-5px);
  overflow: hidden;
  opacity: 0;
  animation: 0.1s slideIn ease-in-out forwards 0.1s, typing 0.1s;
}

.rotateArrow {
  transform: rotate(270deg);
}

/* ---------Footer container---------- */
footer {
  display: flex;
  justify-content: center;
  background-color: #1a1e1f;
  height: 230px;
  animation-name: fade;
  animation-duration: 1s;
  font-family: "TBC-font-2";
}
.footerflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerflex > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 14px;
  gap: 25px;
}
.footerflex div:nth-child(2) {
  gap: 45px;
}
.footerflex a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}
.footerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a3e0;
  width: 160px;
  height: 40px;
  border-radius: 5px;
  font-family: "TBC-font-2";
  font-size: 16px;
  transition: 0.3s;
}
.footerBtn:hover {
  background-color: #e8e6e6;
  color: #161616;
}
.socialmediaIcons {
  width: 160px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.socialmediaIcons img {
  cursor: pointer;
}
.socialmediaIcons a:hover {
  opacity: 1;
}

#expandableWindow {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 36%;
  background-color: #2b2b2b;
  color: #8c8c8c;
  padding: 52px 52px 20px 52px;
  transition: right 0.5s ease-in-out;
  overflow-y: auto;
  z-index: 5;
}
#expandableWindow img {
  width: 21px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
#expandableWindow ul li {
  list-style: none;
  font-weight: ligher;
  margin: 15px 0px 15px 0px;
}
#expandableWindow ul li h3 {
  margin: 20px 0px 20px 0px;
}
#expandableWindow ul li a {
  font-family: "TBC-font-3";
  color: #8c8c8c;
}
#expandableWindow ul li:last-child a {
  font-family: "TBC-font-3";
  text-decoration: underline;
  color: #8c8c8c;
}
#closeButton {
  width: 25px;
}
#closeLargeButton {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 3px;
  font-family: "TBC-font-1";
  font-size: 16px;
  margin-top: 90px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
#closeLargeButton:hover {
  background-color: #00a3e0;
  color: #ffffff;
}
#expandButton:hover {
  opacity: 0.65;
}
#expandableWindow.show {
  right: 0;
}
#background-blur {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}

.hidden {
  display: none;
}

/* ---------Animations---------- */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes typing {
  from {
    height: 0;
  }
}
@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* ---------Animations---------- */

@media only screen and (max-width: 1024px) {
  /* ---------Header---------- */
  header {
    justify-content: space-between;
    width: 100%;
    height: 120px;
    padding: 0px 50px 0px 50px;
    position: relative;
  }
  header img {
    width: 230px;
  }
  .desktopNav {
    display: none;
  }
  .burgerbox {
    display: flex;
  }
  .meny {
    width: 25%;
  }
  /* ---------Main container---------- */
  .boxsize {
    width: 100%;
  }
  .main-container {
    background-image: url(./img/background2.jpg);
    background-position: top;
    background-size: cover;
    height: 58vw;
    padding: 25px;
  }
  .main-container div {
    gap: 8px;
  }
  .main-container h1 {
    font-size: 50px;
  }
  .main-container p {
    font-size: 45px;
  }
  /* ---------Description container---------- */
  .description-container {
    align-items: baseline;
    background-color: #2b2b2b;
    height: auto;
    font-size: 30px;
    line-height: 45px;
    padding: 30px;
  }
  .description-container p {
    margin-bottom: 50px;
    width: 100%;
  }
  .description-container a {
    font-size: 25px;
  }
  br {
    display: none;
  }
  /* ---------Courses container---------- */
  .courses-container > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .courses-container div:nth-child(1) div > h1 {
    font-size: 40px;
  }
  .courses-grid {
    grid-template-columns: auto;
  }
  .course-item {
    width: 87vw;
    height: 70vw;
  }
  .course-item h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .course-item p {
    font-size: 25px;
  }
  /* ---------Partners container---------- */
  .partners-container h1 {
    font-size: 30px;
    margin: 30px 0px 20px 30px;
  }
  .slider {
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
  }
  .slide {
    flex-direction: column;
    gap: 60px;
    margin: auto;
  }

  .dotbuttons {
    font-size: 30px;
    width: 60px;
    gap: 10px;
    bottom: 11px;
    left: 47%;
  }
  /* ---------Questions container---------- */
  .questionFlex {
    width: 84vw;
    margin: 0px 0px 60px 0px;
  }
  .questionCaption {
    width: 280px;
    margin: 50px 0px 15px 0px;
  }
  .questionCaption a {
    display: none;
  }
  .question-item h1 {
    font-size: 21px;
  }
  .question-item {
    padding: 22px 0px 22px 0px;
  }
  .question-item div {
    text-align: left;
  }
  .questionstab a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 0px 0px;
  }
  .question1 ul li,
  .question1.question-item:nth-child(1) p,
  .question2 span,
  .question3 span {
    font-size: 17px;
    font-family: "TBC-font-2";
    line-height: 35px;
  }
  .question1 ul li {
    margin: 0px 15px 0px 20px;
  }
  /* ---------Footer container---------- */
  footer {
    height: 200px;
  }
  .footerflex {
    justify-content: space-around;
    padding: 10px;
  }
  .footerflex > div {
    flex-direction: column;
    gap: 22px;
    font-size: 17px;
  }

  #expandableWindow {
    width: 87%;
    padding: 55px 25px 10px 25px;
  }
  #expandableWindow img {
    display: flex;
    width: 27px;
  }
  #closeLargeButton {
    height: 45px;
    border-radius: 4px;
    font-family: "TBC-font-4";
    font-size: 19px;
  }
}

@media only screen and (max-width: 800px) {
  /* -----------Header------------ */
  header {
    padding: 0px 20px 0px 20px;
    height: 85px;
  }
  header img {
    width: 160px;
  }
  .meny {
    width: 35%;
  }
  /* ---------Main container---------- */

  .main-container {
    height: 68vw;
  }
  .main-container h1 {
    font-size: 45px;
  }
  .main-container p {
    font-size: 40px;
    line-height: 70px;
  }
  /* ---------Description container---------- */
  .description-container {
    font-size: 19px;
    line-height: 31px;
  }
  .description-container a {
    font-size: 19px;
  }
  /* ---------Courses container---------- */
  .courses-container div:nth-child(1) div > h1 {
    font-size: 30px;
    margin: 30px 35px 30px 0px;
  }
  .course-item {
    height: 80vw;
  }
  .course-item h2 {
    font-size: 25px;
  }
  .course-item p {
    font-size: 15px;
  }
  /* ---------Partners container---------- */
  .nextBtn,
  .prevBtn {
    display: none;
  }
  .dotbuttons {
    left: 47%;
  }
  /* ---------Questions container---------- */
  .question-item h1 {
    font-size: 19px;
  }
  /* ---------Footer container---------- */
  footer {
    height: 330px;
  }
}
@media only screen and (max-width: 450px) {
  /* ---------Header container---------- */
  .meny {
    width: 63%;
  }
  /* ---------Main container---------- */
  .main-container {
    background-size: contain;
    height: 68vw;
    padding: 25px;
  }
  .main-container h1 {
    font-size: 32px;
  }
  .main-container p {
    font-size: 29px;
    line-height: 48px;
  }
  /* ---------Description container---------- */
  .description-container {
    height: auto;
  }
  /* ---------Courses container---------- */
  .course-item {
    height: 90vw;
  }
  .course-item h2 {
    font-size: 19px;
  }
  .course-item p {
    font-size: 17px;
  }
  /* ---------Partners container---------- */
  .partners-container h1 {
    font-size: 22px;
  }
  .dotbuttons {
    left: 42%;
  }
  /* ---------Footer container---------- */
  .footerflex {
    flex-direction: column-reverse;
    align-items: start;
    padding: 40px;
  }
  .footerflex > div {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .footerflex > div:nth-child(1) img:nth-child(1) {
    display: none;
  }
  .footerflex:nth-child(1) img {
    display: block;
    width: 120px;
  }
  .footerflex div:nth-child(2) {
    flex-direction: row-reverse;
  }
  .footerBtn:nth-child(1) {
    display: flex;
    border-radius: 8px;
    width: 35vw;
    height: 45px;
  }
  .socialmediaIcons {
    width: 100%;
    gap: 20px;
  }
  .socialmediaIcons a {
    width: 50px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 360px) {
  /* ---------Courses container---------- */
  .course-item {
    height: 120vw;
  }
}
